.node {
  height: 20px;
  width: 20px;
  border: 0.5px solid rgb(81, 142, 147);
  display: inline-block;
}

.dark {
  background-color: rgb(11, 37, 60);
}

.start-node {
  background-color: aqua;
}

.end-node {
  background-color: aquamarine;
}
